.main_content{
    height: calc( 100vh - 30px);
    overflow-y: auto;
    margin-left: 250px;
    padding: 80px 20px 20px 20px;
}
.collespe{
    margin-left: 0;
}
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) { 
    .collespe{
        margin-left: 0;
    }
 }

@media (max-width: 575.98px) {
 }